@charset "UTF-8";

html {
    background-color: #21242B;
}


body {
    margin: 0px;
    padding: 0px;

    font-family: 'Fira Mono';
}

#field {
    height: 540px;
    width: 540px;
    border: 1px solid #181A21;
    margin: auto;
    margin-top: 199px;
    background-color: #2A2E39;
    
}

.cell {
    width: 133px;
    height: 133px;
    border: 1px solid #181A21;
    text-align: center;
    font-size: 140px;
    font-weight: bold;
    color: #00ffff;
    float: left;
    background-image: url("../images/cross.svg");
    background-position: center;
    background-attachment: scroll;
    background-size: 95%;
    background-repeat: no-repeat;
}

.cell:hover {
    background-color: #363B47;
}

.text {
    font-size: 30px;
    text-align: center;
    color: #CBCED4;
    margin: auto;
    /* //margin-top: 10px; */
}

.button-blue {
    margin: auto;
    width: 350px;
    height: 45px;
    font-size: 30px;
    background: #4875CA;
    color: #CBCED4;
    border-radius: 5px;
    border: 1px solid #181A21;
}

.button-blue:hover {
    background: #5280d4;
    cursor: pointer;
}

.button-grey {
    margin: auto;
    width: 350px;
    height: 45px;
    font-size: 28px;
    color: #72777D;
    background: #333844;
    border-radius: 5px;
    border: 1px solid #181A21;
}

.button-grey:hover {
    background: #3d4252;
    cursor: pointer;
    color: #CBCED4;
}



input {
    height: 30px;
    width: 30px;
}

table {
    width: 540px;
    height: 540px;
    border-radius: 5% 5%;
}

tr {
    height: 91px;
}

td {
    width: 270px;
    height: 91px;
}